input {
    font-size: 20px;
    margin: 20px;
    width: 400px;
}

.piechart {
    height: 100px;
    width: 100px;
    padding: 20px;
    background-image: conic-gradient(green var(--percentage), lightgreen 0);
    border-radius: 50%;
}